@import "./base.css";

@import "./button.scss";

body {
  font-family: sans-serif;
}

main {
  flex: 1;

  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;

  padding: 0.5em;

  width: 100%;
  max-width: 50em;
  margin: 0 auto;

  p {
    align-self: stretch;
  }
}

h1 {
  text-align: center;
}

:disabled {
  cursor: not-allowed;
}
